body {
  margin: 0;
  padding: 0;
  border: 0;

  font-style:
}


h1 {
  color: blue;
  font-size: 3rem;
}

h2 {
  color: grey;
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

/*=== HEADER ===*/

#header {
  width: 100vw;
  height: 150px;

  position: absolute;
  z-index: 100;
  background: linear-gradient(to top, rgba(0,0,255,0), rgba(0,0,255,1));
}

#header > img {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}




/*=== AD SLIDES ===*/

.ad-container {
  position: absolute;
  display: block;
  width: 70%;
  top: 200px;
  left: 15%;
  background-size: cover;
  background-position: center center;
}

.ad-container h1 {
  font-size: 5rem;
  font-weight: 800;
}

.ad-container p {
  font-size: 3rem;
  width: 60%;
}

.deadline {
  position: absolute;
  top: 200px;
  right: 15%;

  font-size: 4rem;
  font-weight: 600;
}
