body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 100%;
  overflow: hidden; /* Disables scroll */
  font-family: Raleway;
}

.background {
    /* The image used */
    background-image: url('../images/tausta_some_valkoinen.jpg');

    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  color: blue;
  font-size: 3rem;
}

h2 {
  color: grey;
  font-size: 2rem;
}

p {
  font-size: 1rem;
}


/*=== HEADER ===*/

#header {
  position: absolute;
  overflow: overlay;
  z-index: 9999;
}

/* Wildcard class selector: https://stackoverflow.com/questions/36579625/can-not-resize-the-icons-from-https-github-com-erikflowers-weather-icons*/
i[class^="wi-"], i[class*=" wi-"] {
    font-size: 1.5em;
}

#header > img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#date {
  font-size: 1em;
  margin: 0;
}

#time {
  font-size: 2.1em;
  margin: 0;
}

/* Move time and weather info to top left corner */
#info-box {
  position: absolute;
  top: 20px;
  left: 50px;
  color: white;
}

/* === SLIDES MAIN ===*/

/* Slideshow container */
.slide-container {
  position: relative;
  top: 155px;
  width: 95%;
  margin: 0 auto;
}

/* Fading animation */
.fade {
  position: absolute;
  width: 95vw;
  transition: opacity .3s ease-in;
}

fade + fade { opacity: 0; }


/*=== PROMO SLIDES ===*/


.promo-container {
  height: 80vh;
  margin: 0 auto;
  border-radius: 5px;
  background:rgba(255,255,255,0.9);
  background-size: cover;
  background-position: center center;
}

.promo-container h1 {
  font-size: 5rem;
  font-weight: 800;
}

.promo-container p {
  font-size: 3rem;
  width: 60%;
}

.deadline {
  top: 200px;
  right: 15%;
  font-size: 4rem;
  font-weight: 600;
}

.promo-img-container {
  width: 200px;
  height: 200px;
}

.promo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
