element {
  --main-bg-color: brown;
}

body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 100%;
  overflow: hidden; /* Disables scroll */
  font-family: Raleway;
}

.background {
  /* The image used */
  background-image: url('../images/tausta_some_valkoinen.jpg');

  /* Full height and width */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: #002e7d;
  font-size: 3rem;
  margin-top: 21px;
}

p {
  font-size: 1rem;
}


/*=== HEADER ===*/

#header {
  position: fixed;
  overflow: overlay;
  z-index: 9999;
}

/* Wildcard class selector: https://stackoverflow.com/questions/36579625/can-not-resize-the-icons-from-https-github-com-erikflowers-weather-icons*/
i[class^="wi-"], i[class*=" wi-"] {
    font-size: 1.5em;
}

#header > img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

#date {
  font-size: 1em;
  margin: 0;
}

#time {
  font-size: 2.1em;
  margin: 0;
}

/* Move time and weather info to top left corner */
#info-box {
  position: absolute;
  top: 20px;
  left: 50px;
  color: white;
}

/* === SIDEBAR ===*/

.sidebar {
  position: absolute;
  top: 190px;
  width: 32%;
  left: 64%;  /* https://stackoverflow.com/questions/9998260/css-absolute-position-wont-work-with-margin-leftauto-margin-right-auto */
  right: 0;
  margin: 0px 20px 0px 40px;
  padding: 0px 15px;
  height: 77vh;
  border-radius: 5px;
  background: rgba(255,255,255,0.9);
  background-size: cover;
  background-position: center center;
}

.event-list-container th {
  padding: 40px 25px 18px 25px;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

.event-list-container td {
  padding: 25px;
  margin: 0;
  font-size: 1.2em;
}

.change-color {
  color: #e0423a;
  font-weight: bold;
}

/* === SLIDES MAIN ===*/

/* Slideshow container */
.mainslide {
  position: relative;
  top: 190px;
  width: 64%;
  left: 0;  /* https://stackoverflow.com/questions/9998260/css-absolute-position-wont-work-with-margin-leftauto-margin-right-auto */
  right: 0;
  margin: 0px 20px 0px 20px;
  padding: 0px 40px;
  height: 77vh;
  border-radius: 5px;
  background: rgba(255,255,255,0.9);
  background-size: cover;
  background-position: center center;
}

/* Fading animation */
.fade {
  position: absolute;
  transition: opacity .4s ease-in;
}

fade + fade { opacity: 0; }


/*=== PROMO SLIDES ===*/

.promo-container h1 {
  font-size: 5rem;
  font-weight: 800;
}

.promo-container p {
  font-size: 3rem;
  width: 60%;
}

.deadline {
  top: 200px;
  right: 15%;
  font-size: 4rem;
  font-weight: 600;
}

.promo-img-container {
  width: 200px;
  height: 200px;
}

.promo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*=== FOOD SLIDE ===*/

.restaurant-list-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px 20px;
  margin-left: 20px;
}

.restaurant-list-container h2 {
  margin: 10px 0px 0px 0px;
  display: inline-block;
}

.restaurant-list-container .bold{
  display: block;
  font-weight: bold;
}

.restaurant-list-container span {
  display: block;
}

.restaurant-list-container p {
  margin: 10px 0px 0px 0px;
  display: block;
  font-size: 0.6em;
  color: grey;
}


/*=== TRELLO SLIDE ===*/

.slide-trello {
  width: 97.4%;
  padding: 0px;
}

.trello-slide-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  color: #eee;
}

.navbar {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar.app {
  background-color: #002e7d;
  font-size: 1.2rem;
  border-radius: 2px;
  margin-bottom: 5px;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lists > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 10px;
}
.lists::after {
  content: '';
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
}

.trello-list-container {
  width: 350px;
  height: calc(100% - 10px - 17px);
}
.trello-list-container > * {
  background-color: #e2e4e6;
  color: #333;
  padding: 0 10px 10px 10px;
}
.trello-list-container header {
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.trello-list-container ul {
  list-style: none;
  margin: 0;
  max-height: calc(100% - 36px - 36px);
}
.trello-list-container li > p {
  font-size: 1.4em;
}
.trello-list-container ul li {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.trello-list-container ul li:not(:last-child) {
  margin-bottom: 10px;
}
.trello-list-containerxy ul li img {
  display: block;
  width: calc(100% + 2 * 10px);
  margin: -10px 0 10px -10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* LABELS */

span[class^="trello-label-"] {
  padding: 0 8px;
  border-radius: 4px;
  color: white;
  font-size: 0.8em;
}

.trello-label-pink {
  background-color: #ff80ce;
}

.trello-label-sky {
  background-color: #00c2e0;
}

.trello-label-red {
  background-color: #eb5a46;
}

.trello-label-purple {
  background-color: #c377e0;
}

.trello-label-blue {
  background-color: #0079bf;
}

.trello-label-green {
  background-color: #61bd4f;
}

.trello-label-orange {
  background-color: #ffab4a;
}

.trello-label-black {
  background-color: #4d4d4d;
}

.trello-label-lime {
  background-color: #51e898;
}

/*=== GIF ===*/

#gif-container {

  text-align: center;
  height: 90%;
  width: 80vw;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

iframe {
   width: 600px;
   height: 100%;
}

#gif-container {
  background-image: url('../images/tausta_some_valkoinen.jpg');
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #777;
}

#gif-container h1 {
  margin: 50px 0 50px 0;
}

.carousel-inner {
  margin: 0 10px 0 10px;
}

.carousel-item {
  height: 600px;
  width: 100%;
  margin: 0 auto;
}

#emoji {
  font-size: 2em;
}
