{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Infoscreeni{% endblock %}</title>
    {% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Raleway font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <!-- Weather icons - https://github.com/erikflowers/weather-icons -->
    <link rel="stylesheet" type="text/css" href="{% static 'weather/weather-icons.min.css' %}">
    <!-- Slick library for full screen carousel - https://github.com/kenwheeler/slick/ -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/custom.css' %}">
    <!-- Custom js -->
    <script type="text/javascript" src="{% static 'scripts/infoscreen.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/time.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/scroll.js' %}"></script>
    {% endblock header %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
</html>
