{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Exercise template{% endblock %}</title>
    {% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'scripts/infoscreen.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style/custom.css' %}">
    {% endblock %}
  </head>
  <body>
    {% block content %}

    <div id="header">
      <img src="{% static 'images/logo.svg' %}">

      <div id="info-box" class="container">
        <div id="info-weather">
          <span id="temperature"></span>
        </div>
        <div id="info-time"></div>
        <div id="info-date"></div>
      </div>

    </div>

    {% endblock %}
  </body>
</html>
