{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{{ block.super }}
  <div id="header">
    <img src="{% static 'images/header.png' %}">
    <div id="info-box">
      <div id="info-weather">
        <i id="temperature-icon"></i>
        <span id="temperature"></span>
      </div>
      <div id="info-datetime">
        <p id="time"></p>
        <p id="date"></p>
      </div>
    </div>
  </div>
  <div class="background">
    {% block slides %}
    {% endblock slides %}
  </div>
{% endblock content %}
