<div class="content-slide-container">
  {% if context.content %}
    {% for c in context.content %}
      {# Don't change the order of the classess, they are used to handle expired slides and slide display duration #}
      <div class="contentslide-{{c.id}} fade">
        <div class="content-container">
          <h2 class="title">{{ c.otsikko }}</h2>
          <hr>
          <div class="description-wrapper">
            <p>{{ c.teksti|safe }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
